.footer {
    background-color: $coolGray-800;
    color: #f8f9fa;
    padding-top: 3rem;
}
.copyright {
    padding-left: 2.5rem;
    padding-right: 2.5rem;
    padding-top: 0.625rem;
    padding-bottom: 0.625rem;
    background-color: $yellow-900;
    font-weight: 600;
    text-align: center;
    color: $coolGray-50;
}